Django==1.8.1
boto==2.8.0
dj-database-url==0.2.1
django-social-auth==0.7.28
django-storages==1.1.6
httplib2==0.19.0
oauth2==1.5.211
psycopg2==2.4.6
python-openid==2.2.5
raven==3.1.17
requests==2.10.0
wsgiref==0.1.2
Rdio==0.3.0
psutil==2.2.0
python-dateutil==2.4.1
django-websocket-redis==0.4.4
simplejson==3.6.5
django-redis-sessions==0.4.0
Mopidy==2.0
