{% load nav_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <script src="{{STATIC_URL}}js/jquery-1.7.1.js"></script>
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/artflip.js"></script> -->

    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}img/favicon.ico" />

    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-responsive.min.css" />
    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}css/style.less">
    <script src="{{STATIC_URL}}js/less-1.3.0.min.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/artflip.css" /> -->
    <title>{% block title %}Rdio Party{% endblock %}</title>
  </head>

  <body>
    <div id="wrap">
      <div class="navbar" style="z-index: 1000; position: relative">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
	      <img src="{{STATIC_URL}}img/logo.png">
	    </a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="{% activelink 'index' %}">
                  <a href="{% url 'index' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="{% activelink 'party' %}">
                  <a href="{% url 'parties' %}">Parties</a>
                </li>
                {% endif %}
              </ul>
              <ul class="nav pull-right">
                <li>
                  <a href="https://github.com/dasevilla/rdiodj" target="_blank" title="Find us on GitHub">
                    <img src="{{STATIC_URL}}img/GitHub-Mark-Light-32px.png" class="github-logo">
                  </a>
                </li>
                <li class="twitter-follow-magic">
                  <a href="https://twitter.com/rdioparty" class="twitter-follow-button" data-show-count="false">Follow @rdioparty</a>
                </li>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                {% if user.is_superuser %}
                  <li class="dropdown">
                  <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      Admin
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'admin:index' %}">Home</a>
                    </li>
                    <li class="divider"></li>
                    <li class="nav-header">Social Auth</li>
                    <li>
                      {% if social_auth.rdio_oauth2 %}
                      <a href="{% url 'socialauth_disconnect' backend='rdio-oauth2' %}">Remove Rdio 2.0</a>
                      {% else %}
                      <a href="{% url 'socialauth_begin' backend='rdio-oauth2' %}">Add Rdio 2.0</a>
                      {% endif %}
                    </li>
                  </ul>
                  </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'sign-out' %}">Sign Out</a></li>
                {% else %}
                <li><a href="{% url 'socialauth_begin' backend='rdio-oauth2' %}">Sign In</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="contentbkg" style="position: absolute;top: 0">
      <div class="containerbkg">
      </div>
      </div>
      <div class="container-full" style="z-index: 1000;">
        {% block content %}{% endblock %}
      </div>


      <div id="push"></div>
    </div>


        </div>

    {% block javascript %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    {% endblock %}

    {% if not debug %}
    {% endif %}
  </body>
</html>
