{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">


        {% if user.is_authenticated %}
        <div class="page-header">
            <h1>Welcome {{user.first_name}}!</h1>
        </div>
        <p class="lead">This is going to be awesome.</p>
        <p>
            <a class="btn btn-primary btn-large"
            href="{% url 'party' %}">Sounds fun!</a>
        </p>
        {% else %}
        <div class="page-header">
            <h1>Howdy stranger!</h1>
        </div>
        <p class="lead">This is going to be awesome.</p>
        <p>
            <a class="btn btn-primary btn-large"
            href="{% url 'socialauth_begin' backend='rdio-oauth2' %}">Sign In</a>
        </p>
        {% endif %}

    </div>
</div>
{% endblock %}
