{% extends "base.html" %}

{% block title %}Rdio Party - {{room_name}}{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <div id="theme"></div>
  </div>

  <div class="span4">
    <h4>Chat</h4>
    <div class="chat">
      <div class="chat-message-container">
        <ul class="chat-messages">
        </ul>
      </div>
      <table class="text-input">
        <tr>
          <td>
            <img src="{{STATIC_URL}}img/chat-bubble.png" class="input-icon">
          </td>
          <td class="input-cell">
            <input class="chat-entry-text" type="text" placeholder="Type a message..."></input>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="span4">
    <div id="now-playing">
    </div>
    <div class="presence">
      <ul id="user-list" class="thumbnails"></ul>
      <div id="presence-stats"></div>
    </div>
  </div>

  <div class="span4">
    <h4>Up Next</h4>
    <div class="track-input">
      <table class="text-input">
        <tr>
          <td>
            <img src="{{STATIC_URL}}img/search.png" class="input-icon">
          </td>
          <td class="input-cell">
            <input type="text" id="track-key-input" placeholder="Find a song to add to the party">
          </td>
        </tr>
      </table>
      <div class="dropdown">
        <ul class="dropdown-menu">
        </ul>
      </div>
    </div>
    <ul id="queue">
    </ul>
    <div id="queue-stats"></div>
  </div>

</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}

  {% if user.is_authenticated %}
  <script type='text/javascript' src="https://rdio.com/api/api.js?helper={% url 'player-helper' %}&amp;client_id={{rdio.client_id}}"></script>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/underscore-min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/backbone-min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/backbone-firebase.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.ba-outside-events.min.js"></script>

  <script type="text/template" id="track-template">
    <table>
      <tr>
        <td>
          <img class="album-cover" src="<%= track.icon %>">
        </td>
        <td class="main">
          <div class="title">
            <a href="<%= track.shortUrl %>" target="_blank"><%= track.name %></a>
          </div>
          <div>
            <%= track.artist %>
          </div>
          <div>
            Added by <a href="<%= user.shortUrl %>" target="_blank"><%= user.firstName %> <%= user.lastName %></a>
          </div>
        </td>
        <td class="buttons">
          <div class="up-vote" style="background-image: url({{STATIC_URL}}img/vote-up.png)"></div>
          <span class="votes"><%= totalVotes %></span>
          <div class="down-vote" style="background-image: url({{STATIC_URL}}img/vote-down.png)"></div>
        </td>
      </tr>
    </table>
  </script>

  <script type="text/template" id="user-presence-template">
    <li class="">
        <a class="" href="<%= user.shortUrl %>/" target="_blank"
            title="<%= user.firstName %> <%= user.lastName %>">
          <img class="user-presence" src="<%= user.icon %>" width="50" height="50">
        </a>
    </li>
  </script>

  <script type="text/template" id="stats-template">
    <p>Queue size is <%= queueSize %></p>
  </script>

  <script type="text/template" id="now-playing-template">
    <div class="now-playing-album">
      <img src="<%= track.bigIcon %>" width="600" height="600">
      <div class="album-info">
        <div class="title">
          <a href="<%= track.shortUrl %>" target="_blank"><%= track.name %></a>
        </div>
        <div class="credits">
          <%= track.artist %> - <%= track.album %>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="search-result-template">
    <li>
      <a href="#" data-rdio-key="<%= key %>">
        <table>
          <tr>
            <td>
              <img src="<%= icon %>">
            </td>
            <td>
              <div class="name"><%= name %></div>
              <div class="artist"><%= artist %></div>
            </td>
          </tr>
      </a>
    </li>
  </script>

  <script type="text/template" id="chat-user-message-template">
    <li>
      <span class="chat-message-username"><%= fullName %></span><%= message %>
    </li>
  </script>

  <script type="text/template" id="chat-new-track-template">
    <li class="chat-message-track">
      <table>
        <tr>
          <td>
            <img src="<%= iconUrl %>" width="50" class="chat-track-icon"/>
          </td>
          <td class="main">
            <div class="track-info title">
              <a href="<%= trackUrl %>" target="_blank"><%= title %></a>
            </div>
            <div>
              <%= artist %>
            </div>
          </td>
        </tr>
      </table>
    </li>
  </script>
  <script type="text/template" id="theme-template">
    Party theme: <b><%= themeText %></b> <br><br>
    Set a new theme: <input type="text" class="theme_text"><input type='button' class='theme_text_button' value='make it so'><br>
  </script>

  <script type="text/javascript">
  var rdioToken = '{{ social_auth.rdio_oauth2.extra_data.access_token }}';
  var rdioUserKey = '{{ rdio.id }}';
  var firebaseToken = '{{ rdio.firebase_token }}';
  var firebaseRootUrl = '{{ firebase_url }}';
  var firebaseRef = new Firebase(firebaseRootUrl);
  </script>
  <script type="text/javascript" src="{{STATIC_URL}}js/chat.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/rdiodj.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/search-view.js"></script>
  {% endif %}

{% endblock%}
