{% load nav_extras %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <title>{% block title %}sutro.fm{% endblock %}</title>
  </head>

  <body class="{{ body_class }}">
    <div id="wrap">
      <div class="navbar" style="z-index: 1000; position: relative">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
              <img src="{% static 'img/logo.png' %}">
            </a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="{% activelink 'index' %}">
                  <a href="{% url 'index' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="{% activelink 'party' %}">
                  <a href="{% url 'parties' %}">Parties</a>
                </li>
                {% endif %}
              </ul>
              <ul class="nav pull-right">
                <li>
                  <a href="https://github.com/sutrofm/sutrofm" target="_blank" title="Find us on GitHub">
                      <img src="{% static 'img/GitHub-Mark-Light-32px.png' %}" class="github-logo">
                  </a>
                </li>
                <li class="twitter-follow-magic">
                  <a href="https://twitter.com/sutrofm" class="twitter-follow-button" data-show-count="false">Follow @sutrofm</a>
                </li>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                {% if user.is_superuser %}
                  <li class="dropdown">
                  <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      Admin
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'admin:index' %}">Home</a>
                    </li>
                  </ul>
                {% endif %}
                  {% if user.is_authenticated %}
                      <li class="dropdown">
                          <a href="#"
                             class="dropdown-toggle"
                             data-toggle="dropdown">
                              {{ user.get_username }}
                              <b class="caret"></b>
                          </a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="{% url 'logout' %}">Sign Out</a>
                          </li>
                      </ul>
                      </li>
                  {% else %}
                    <li><a href="{% url 'social:begin' 'spotify' %}?next={{ request.path }}">Sign In</a></li>
                  {% endif %}
              </ul>
          </div>
        </div>
      </div>

      <div id="contentbkg" style="position: absolute;top: 0">
      <div class="containerbkg">
      </div>
      </div>
      <div class="container-full" style="z-index: 1000;">
        {% block content %}{% endblock %}
      </div>


      <div id="push"></div>
    </div>


        </div>

    {% block javascript %}
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}

  </body>
</html>
