{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div id="index">
<div class="row">
    <div class="span12">


        {% if user.is_authenticated %}
            <div class="page-header">
                <h1>Welcome back to the party, {{user.first_name}}!</h1>
            </div>
        {% else %}
            <div class="page-header">
                <h1>Welcome to the party!</h1>
            </div>
        {% endif %}
            
            <p class="lead">sutro.fm is a social music discovery tool originally built to bring Rdio users together. After 4 years of silence, we've revived the site, having reworked it to use Spotify. Our hearts remain Rdio's, though.</p>

            <p class="lead">We're not affiliated with <a href="https://www.rdio.com">Rdio</a> or their new owners, but we're a group of Rdio fans who want to bring social music discovery to a whole new level.  Plus, we're open source, so you can <a href="https://github.com/sutrofm/sutrofm">contribute</a> to the project too! Don't forget to follow us on Twitter at <a href="https://twitter.com/sutrofm">@sutrofm</a>.</p>

        {% if user.is_authenticated %}
            <p>
                <a class="btn btn-primary btn-large" href="{% url 'parties' %}">Party Time!</a>
            </p>
        {% else %}
            <p>
                <a class="btn btn-primary btn-large" href="{% url 'social:begin' 'spotify' %}?next={% url 'parties' %}">Sign in with Spotify!</a>
            </p>
        {% endif %}
            <p class="lead">This is going to be awesome.</p>

    </div>
</div>
</div>

{% endblock %}
