html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}


/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container .credit {
  margin: 20px 0;
}

/* Search View */
.dropdown img {
  margin-right: 10px;
  width: 50px;
}

.dropdown .name {
  font-weight: bold;
}

.dropdown .artist {
  font-size: 12px;
}


/* Chat stuff */
.chat {
  height: 36em;
}

.chat-message-container {
  height: 33.7em;
  background-color: rgba(100, 100, 100, 0.1);
  border-top-style: solid;
  vertical-align: bottom;
}

.chat-messages {
  list-style-type: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 30em;
}

.chat-message-username {
  margin-right: 0.5em;
  font-weight: bold;
}

.chat-entry-container {
  height: 1.9em;
  vertical-align: bottom;
  padding-bottom: 0.3em;
  border-bottom-style: solid;
  border-top-style: solid;
}

.chat-entry-text {
  width: 100%;
  border-style: none;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.chat-entry-text:focus {
  outline: none;
}
